@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --gray-color: #333;
  --blue-color: #047aed;
  --dark-blue: #1c3fa8;
  --white-color: #fff;
  --light-gray-color: #b4becb;
  --dark-color: #002240;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: var(--gray-color);
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--gray-color);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 0.8em 0;
}

p {
  margin: 0.8em 0;
}

img {
  width: 100%;
}

code, pre {
  background-color: var(--gray-color);
  padding: .9em;
  color: var(--white-color);
}

/* NavBar */

.navbar {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--white-color);
  padding: 0.8em;
  margin: 0 0.3em;
}

.navbar a:hover {
  border-bottom: 2px var(--white-color) solid;
}

/* ShowCase */
.showcase {
  height: 400px;
  background-color: var(--blue-color);
  color: var(--white-color);
  position: relative;
}

.showcase h1 {
  font-size: 2.2rem;
}

.showcase p {
  margin: 1.2em 0;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 2em;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 2.5em;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 1.8em 0;
}

.showcase-form input[type="text"],
.showcase-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid var(--light-gray-color);
  width: 100%;
  padding: 0.2em;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: var(--white-color);
  transform: skewY(-3deg);
}

/* Stats */
.stats {
  padding-top: 110px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
  font-size: 1.4rem;
}

.stats .grid h3 {
  font-size: 2.2rem;
}

.stats .grid p {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Cli */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 1.1em 0.7em 2.5em;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 1.4rem;
  margin-bottom: 0.8em;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* Footer */
.footer .social a {
  margin: 0 0.8em;
}

/* Tablets and Under */
@media screen and (max-width: 915px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 0.8em;
  }

  .showcase-form {
    justify-self: center;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  .navbar {
    height: 100%;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 0.8em;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .footer .social a i {
    margin-top: 0.3em;
  }
}
